* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #17141d;
	background: radial-gradient(#312d3c 8%, transparent 8%), #17141d;
	background-position: 0 0, 26px 26px;
	background-size: 26px 26px;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	font: normal 18px/26px sans-serif;
	color: white;
	padding: 100px 20px 200px;
	overflow-x: hidden;
}

.wrapper .block {
	z-index: 1;
	position: relative;
}

.wrapper .block::before {
	content: '';
	position: absolute;
	height: calc(100% - 40px);
	width: 1px;
	background-color: #f2f2f2;
	left: 50%;
	margin-top: 90px;
}

.wrapper .title {
	font: bold 42px/52px OpenSans, sans-serif;
	text-align: center;
	padding: 20px;
	transition: all 0.5s ease-in-out;
}

.wrapper .each-event {
	background-color: #e0720b;
	color: white;
	padding: 15px;
	margin: 60px 50px;
	width: 350px;
	position: relative;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 5px #e0720b;
}

.wrapper .each-event::before {
	content: '';
	position: absolute;
	top: calc(50% - 8px);
	left: -27px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}

.wrapper .each-event:nth-child(odd) {
	margin-left: calc(50% + 20px);
}

.wrapper .each-event:nth-child(odd) .event-description video {
	border: none;
	outline: none;
}

.wrapper .each-event:nth-child(even) {
	margin-left: calc(50% - 400px);
}

.wrapper .each-event:nth-child(even)::before {
	left: calc(100% + 14px);
}

.wrapper .each-event.non-focus {
	color: white;
	background: white;
	margin-top: 90px;
	transform: rotateZ(45deg);
	transition: all 0.8s ease-in-out;
}

.wrapper .each-event.non-focus::before {
	opacity: 0;
	background-color: #aaa;
}

/* PROFILES */

.titlePar {
	font-size: 34px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	margin-top: 230px;
}

.container h1 {
	margin-top: 70px;
}

.container {
	padding: 40px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-wrap {
	margin: 10px;
	transform: perspective(1200px);
	transform-style: preserve-3d;
	cursor: pointer;
}
.card-wrap:hover .card-info {
	transform: translateY(0);
}
.card-wrap:hover .card-info p {
	opacity: 1;
}
.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
	transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
	transition: 3s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 1;
	transform: translateY(0);
}
.card-wrap:hover .card-bg {
	transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 4s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0.8;
}
.card-wrap:hover .card {
	transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	box-shadow: none;
}

.card {
	position: relative;
	flex: 0 0 240px;
	width: 320px;
	height: 320px;
	background-color: #000;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
		inset rgba(255, 255, 255, 0.4) 0 0 0 6px;
	transition: 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
	opacity: 0.5;
	position: absolute;
	top: -20px;
	left: -20px;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		opacity 4s 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	pointer-events: none;
}

.card-info {
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #fff;
	transform: translateY(40%);
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
	opacity: 0;
	text-shadow: black 0 2px 3px;
	transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
	position: relative;
	z-index: 1;
}
.card-info:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background-blend-mode: overlay;
	opacity: 0;
	transform: translateY(100%);
	transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
	font-size: 36px;
	font-weight: 700;
	text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
